/* .linkit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: "col1 col1 col2 col2 col2 col2 col2 col2 col3 col3";
    gap: 16px;

    padding: 16px;
    border-radius: 8px;
    background: #f5f5f5;
}
.linkit__column,
.linkit__column_top{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.linkit__column > *,
.linkit__column_top > * {
    margin: 0;
}

.linkit__column_top {
    margin-top: 36px;
}

.linkit > * {
    width: 100%;
    margin: 0;
}

.linkit > *:nth-of-type(1){
    grid-area: col1;
}
.linkit > *:nth-of-type(2){
    grid-area: col2;
}
.linkit > *:nth-of-type(3){
    grid-area: col3;
}

.linkit__traget {
    background-color: red;
}

.status-updated,
.status-published {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f5f5f5;
    display: block;
    overflow: hidden;
    display: inline-flex;
    margin-right: 8px;
}
.status-published {
    color: var(--notice-color);
}

.status-updated {
    color: var(--warning-color);
} */