
/* Styling settings */
.style-settings__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    margin-bottom: 32px;
    border-radius: 8px;
    background: #f5f5f5;
    container-type: inline-size;
}
.style-settings__form > * {
    margin-bottom: 0;
}
.style-settings__controlls,
.style-settings__buttons  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}
@container (min-width: 600px) {
    .link-settings__link-types,
    .link-settings__link-controlls {
        grid-template-columns: repeat(2, 1fr);
    }
}
.style-settings__controlls > *,
.style-settings__buttons > * {
    margin: 0;
}
.style-settings__error {
    color: #ff5e49;
    font-size: 14px;
    margin: 0;
    width: 100%;
    text-align: center;
}

/* Styling settings -> field */
.style-settings__controlls {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    background: white;
    box-sizing: border-box;
}
.style-settings__controll-item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
    flex: 1;   
}
.style-settings__controll-texts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}
.style-settings__controll-texts > * {
    width: 100%;
    margin: 0;
    flex: 1;
} 
.style-settings__controll-texts label {
    display: none;
}